{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}

    {% block body %}
        {% if is_granted('ROLE_USER') %}
          Logeado como  <a href="{{ path('app_texto_show', {'author': app.user}) }}">{{ app.user.username }}</a> <br>
        {% endif %}
        {% for texto in textos %}
           <h2>{{ texto.id }}.{{ texto.titulo }}</h2><br>
            {{ texto.cuerpo }}<br>
            <a href="{{ path('app_texto_show', {'author': texto.author}) }}">{{ texto.author }}</a> <br>
           Creado: {{ texto.createdAt | date}}<br>
           Editado: {{texto.updatedAt | date("d/m/Y H:i:s")}}<br>
            {% if (app.user == texto.author) or (app.user == "admin") %}
                <a href="{{ path('app_texto_remove', {'id': texto.id}) }}">remove</a> <br>
                <a href="{{ path('app_texto_update', {'id': texto.id}) }}">Editar texto</a> <br>
            {% endif %}
        {% endfor %}
        <br>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_texto_create') }}">Introducir nuevo texto</a>
        {% endif %}
    {% endblock %}
